body{
    background-color: rgb(131, 131, 131);
    color: white;
}
ol{
    color:white
}
h1, h2, h3, h4{
    text-align: center;
}
main{
    max-width: 800px;
    margin: auto;
}
footer{
    text-align: center;
}